header,p,h1,h2{
    text-align: center;
    font-weight: bold;
  }
  figcaption{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  html{
    background-color: #dfdfe2;
  }
  footer{
    text-align: center;
    font-weight: bold;
  }
  link{
    text-align: center;
  }
  li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }