html{
    background-color: #52617f;
}
input{
    display: block;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height:50vh;
    border-radius: 10px;
}
input[type="submit"] {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }
  input[type="email"]{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 100%;
    max-width: 400px;
  }
  p{
    font-size: 1.2rem;
  }
  form {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
form.shake {
    animation: shake 0.5s ease-in-out forwards;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

#log-in{
    text-decoration: none;
    color:#52617f;
    width: 20vw;
    height:fit-content;
  }